<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form action="/action_page.php">
    <label for="adminpanels">Eklemek istediğiniz Etkinliği seçin:</label>
    <select name="AdminPanel" id="adminpanels">
        <option value="tiyatro">Tiyatro</option>
        <option value="sinema">Sinema</option>
        <option value="opera">Opera</option>
        <option value="muze">Müze</option>
        <option value="konser">Konser</option>
        <option value="festival">Festival</option>
        <option value="bar">Bar</option>
    </select>
    <br><br>
    <input type="submit" value="Submit">
</form>

</body>
</html>